body {
  margin: 0;
  padding: 0;
}

.pf-v6-c-masthead,
.pf-v6-c-page,
.pf-v6-c-page__main-container,
.pf-v6-c-card {
  background-color: var(--vscode-editor-background) !important;
}

:root {
  --pf-v6-c-card--BackgroundColor: var(--vscode-editor-background) !important;
  --pf-t--global--background--color--primary--default: var(--vscode-editor-background) !important;
  --pf-v6-c-content--Color: var(--vscode-editor-foreground) !important;
  --pf-v6-c-page--BackgroundColor: var(--vscode-editor-background) !important;
  --pf-v6-c-page__main-container--BackgroundColor: var(--vscode-editor-background) !important;
  --pf-t--global--text--color--link--100: #3794ff; /* VS Code textLink.foreground */
  --pf-t--global--color--status--danger--100: #f48771; /* VS Code errorForeground */
}

#root {
  height: 100vh;
  overflow: hidden;
}

.pf-v6-c-page {
  --pf-v6-c-page--inset: 0;
}

.pf-c-page__main-section {
  height: calc(100vh - 76px);
  overflow-y: auto;
}

.pf-c-expandable-section__toggle-text {
  width: 100%;
}

.pf-c-expandable-section__content {
  margin-bottom: 10px;
}

.response-wrapper .pf-v6-c-label {
  --pf-v6-c-label--BorderRadius: 5px;
  --pf-v6-c-label--PaddingBlockStart: 0.5rem;
  --pf-v6-c-label--PaddingBlockEnd: 0.5rem;
  --pf-v6-c-label--PaddingInlineStart: 1rem;
  --pf-v6-c-label--PaddingInlineEnd: 1rem;
}

.response-wrapper code {
  background-color: rgba(255, 255, 255, 0.5);
  color: brown;
}

.pf-chatbot__message-text {
  word-break: break-word;
}

.pf-chatbot__message-text > details > summary {
  cursor: pointer;
}

.pf-chatbot {
  background-color: var(--vscode-editor-background) !important;
}

.pf-chatbot__content {
  background-color: var(--vscode-editor-background) !important;
}

.pf-chatbot {
  height: 100vh;
}

.pf-chatbot__messagebox {
  width: 100%;
  max-width: 100% !important; /* to ignore media queries */
}

.pf-chatbot__jump {
  inset-inline-start: 95% !important;
}
