.idea/


cmake-build-*/

.idea/**/mongoSettings.xml

*.iws

out/

.idea_modules/

atlassian-ide-plugin.xml

.idea/replstate.xml

.idea/sonarlint/

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.idea/httpRequests

.idea/caches/build_file_checksums.ser



.idea/**/sonarlint/
.idea/codeStyles/
.idea/kai-ci.iml

.idea/**/sonarIssues.xml

.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navigator/

.idea/$CACHE_FILE$

.idea/codestream.xml

.idea/**/azureSettings.xml

*~

.fuse_hidden*

.directory

.Trash-*

.nfs*

.DS_Store
.AppleDouble
.LSOverride

Icon


._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.icloud

.env

node_modules/
playwright-report/
test-results/
screenshots/
coolstore/
test-output
*.vsix
test-data-dir/
ehr_viewer/
inventory_management/
web-state.json
jboss-eap-quickstarts-kitchensink/
