.incident-list-container {
  width: 200px;
}

.incident-card {
  margin: -2px;
  transition: all 0.2s ease-in-out !important;
  cursor: pointer;
}

.incident-card:hover {
}

.incident-card.selected {
  border: 0.5px solid #0066cc !important;
  border-color: #004d99 !important;
  color: black;
}

.incident-card.selected .pf-c-card__body {
  color: #ffffff !important;
}

.incident-card.selected .text-muted {
  color: #b9dafc !important;
}

.incident-card.selected .pf-c-label {
  color: #151515 !important;
}

.text-muted {
  color: #707070 !important;
}

/* Severity label colors */
.severity-high {
  color: "red" !important;
}

.severity-medium {
  color: "yellow" !important;
}

.severity-low {
  color: green !important;
}
