.pf-v6-c-card.pf-m-blue {
  background-color: var(--pf-t--global--color--nonstatus--blue--default);
}

.pf-v6-theme-dark .pf-v6-c-card.pf-m-yellow {
  background-color: var(--pf-t--global--color--nonstatus--default);
}

.pf-v6-c-card.pf-m-yellow {
  background-color: var(--pf-t--global--color--nonstatus--yellow--default);
}

.chat-card-container {
  width: 80%;
  min-width: 400px;
  display: flex;
  flex-direction: row-reverse;
}

/* .chat-card-container table * {
  color: black;
} */

.resolutions-show-in-dark,
.pf-v6-theme-dark .resolutions-show-in-light {
  display: none;
}

.pf-v6-theme-dark .resolutions-show-in-dark {
  display: revert;
}
